# ---------------- Basics ----------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
.venv/
._venv/
dist/
build/
*.egg-info/
.gptcache/
readme/
*.zip
*.txt
save_stage.sh

# env and locals secrets
.env
*.env
*._env
*.md.full


# Big files
*.db
*.sqlite
*.ipynb
# (do not ignore *.json globally)

# scripts (if you want to ignore JUST at root directory)
# /*.sh
# or, if you want to ignore ALL the .sh files in wherever path, keep:
# *.sh
LLM-Engineers-Handbook
